.nameHeader {
	font-family: 'Limelight', cursive;
}

.about {
	margin-bottom: 100px;
}

form {
	margin-bottom: 100px;
}

body {
	background-image: url("../images/triangles.png");
}

h2, h5 {
	font-family: 'Poiret One', cursive;
}

p, label {
	font-family: 'Mallanna', sans-serif;
}

footer {
	margin-top: 300px;
}
